                /*
Theme Name: Projeto Final
Author: Israel Navarro
Description: Projeto Final do ps
Version: 1
*/

@import url(./css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Comic+Neue:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
#opacity {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 11;
}

.base {
    background-color: rgb(231, 250, 254);
}

body {
    background-color: rgb(231, 250, 254);
}
/* ////////// Cabeçalho //////////////////////////////////////////////////////////////////// */

header {
    background-color: rgb(122, 36, 125);
    display: flex;
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    justify-content: space-evenly;
}

.search-logo {
    display: flex;
}

.pesquisa {
    display: flex;
}

.search-box {
    height: 3em;
    display: flex;
    align-items: flex-end;
    border-bottom: 0.22em solid rgb(245, 198, 97);
    margin-left: 2em;
}

#search {
    margin: 0em;
    border: 0em;
    padding: 0em;
    margin-left: 1em;
    color: rgb(245, 198, 97);
    background-color: transparent;
    height: 2em;
    width: 30em;
    font-size: 18px;
    outline: none;
}

.fazer-pedido {
    padding: 0.5em;
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: rgb(245, 198, 97);
    cursor: pointer;
}

a.fazer-pedido:hover {
    color: #FAFAFA;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.carrinho-pedidos-user {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botao-cabecalho {
    margin-left: 0.75em;
    cursor: pointer;
}

.pesquisa ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F5C661;
    opacity: 1;
    /* Firefox */
    font-weight: 300;
}

.pesquisa ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #F5C661;
    font-weight: 300;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////// Nav Bar //////////////////////////////////////////////////////////////////////////// */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: rgb(245, 198, 97);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(122, 36, 125);
    display: block;
    transition: 0.3s;
}

.tit-cart {
    font-family: Bellota Text;
    color: rgb(122, 36, 125);
    font-weight: 700;
    font-size: 2em;
    padding-left: 60px;
}

.quant-cart {
    font-family: Bellota Text;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-left: 60px;
    padding-bottom: 1.25em;
    padding-top: 2em;
}

.linha-cart {
    padding-top: 0.5em;
    width: 24em;
    border-bottom: 2px solid rgb(122, 36, 125);
    margin-left: 60px;
}

.imagem-product-cart>img {
    width: 100px;
    height: 100px;
}

.product-cart {
    display: flex;
    background-color: rgb(231, 250, 254);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 1.5em;
}

.preco-product-cart {
    font-family: Bellota Text;
    font-weight: 400;
    padding-left: 4.5em;
}

.nome-product-cart {
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-bottom: 2.3em;
    text-transform: uppercase;
    font-family: Bellota Text;
    font-weight: 400;
    font-size: 1.3em;
}

.quant-product-cart {
    background-color: #E7FAFE;
    border: 1px solid #818181;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.add-sub {
    background-color: #E7FAFE;
    border: 1px solid #818181;
    text-decoration: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
    align-items: center;
}

.preco-quant {
    padding-left: 0.3em;
    display: flex;
}

.muda-quant {
    display: flex;
}

.cart-customlocation {
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: rgb(122, 36, 125);
    font-family: Bellota Text;
    color: #FAFAFA;
    font-size: 1.5em;
    width: 240px;
    margin-left: 130px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    display: block;
    transition: 0.3s;
    margin-bottom: 5em;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////// Nome e Subtitulo /////////////////////////////////////////////////// */

.apresentacao {
    text-align: center;
    font-family: Roboto;
    background-color: rgb(122, 36, 125);
    align-items: flex-start;
    padding-top: 3em;
    padding-bottom: 5em;
}

.nome {
    font-size: 48px;
    font-weight: 700;
    color: rgb(245, 198, 97);
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitulo {
    font-size: 26px;
    font-weight: 300;
    color: #FAFAFA;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////// Conheça Loja ////////////////////////////////////////////////////////////////// */

.conheca-loja {
    background-color: rgb(231, 250, 254);
    font-family: Bellota Text;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 8em;
    padding-left: 8em;
}

.nome2 {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1.5em;
}

.pratos-categorias {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

.tipos-pratos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 68em;
}

a.imagens-cat:hover {
    color: #FAFAFA;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.size-thumbnail {
    height: 220px;
    width: 240px;
}

.tamanho{
    transition: .2s;
}
.tamanho:hover {
    color: #FAFAFA;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.nome-cat {
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    font-family: Bellota Text;
    color: #FAFAFA;
    font-size: 1.5em;
    width: 9.8em;
    margin-top: -56px;
    padding-left: 0.2em;
    padding-top: 0.6em;
    padding-bottom: 0.8em;
    text-align: left;
}

.ver-outras-opcoes {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 15em;
    margin-right: 15em;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: rgb(245, 198, 97);
    cursor: pointer;
}

.pratos-do-dia {
    padding-top: 1.5em;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.dia {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

.pratos-dia-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.size-woocommerce_thumbnail {
    height: 373px;
    width: 240px;
}

.nome-prato-dia {
    text-decoration: none;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    font-family: Bellota Text;
    color: #FAFAFA;
    font-size: 1.5em;
    width: 6.67em;
    margin-top: -122px;
    position: absolute;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}

.nome-produto {
    text-align: top;
    font-size: 0.6em;
    font-weight: 500;
    padding-bottom: 1.45em;
    margin-left: 10px;
}

.valor-produto {
    font-family: Bellota Text;
    ;
    font-size: 0.7em;
    font-weight: 500;
    margin-left: 10px;
}

.carrinho-compra {
    background-color: rgb(245, 198, 97);
    margin-right: 10px;
    transition: .2s;
}

.carrinho-compra:hover {
    color: #FAFAFA;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.ver-outras-opcoes{
    transition: .2s;
}
a.ver-outras-opcoes:hover {
    color: #FAFAFA;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////// Loja Física //////////////////////////////////////////////////////////////////// */

.loja-fisica {
    background-color: rgb(122, 36, 125);
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 2em;
}

.conteudo-loja-fisica {
    display: flex;
}

.nome3 {
    font-family: Bellota Text;
    color: #FAFAFA;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1.5em;
}

.parte1-conteudo {
    padding-top: 2.25em;
    padding-right: 5em;
}

.contato {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.contato-texto {
    font-family: Roboto;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 1.125em;
    max-width: 350px;
    margin-left: 1em;
}

.slider3 input {
    display: none;
}

.slider3 {
    display: block;
    height: 393px;
    width: 1050px;
    margin: auto;
    position: relative;
    padding: 1.4em;
}

.slider3 li {
    list-style: none;
    position: absolute;
}

.slider3 img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider3 label {
    background-color: #FAFAFA;
    bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    width: 25px;
    z-index: 10;
}

.slider3 li:nth-child(1) label {
    left: 15.5em;
}

.slider3 li:nth-child(2) label {
    left: 17.375em;
}

.slider3 li:nth-child(3) label {
    left: 19.25em;
}

.slider3 img {
    opacity: 0;
    visibility: hidden;
}

.slider3 p {
    opacity: 0;
    visibility: hidden;
}

.slider3 li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider3 li input:checked~p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider3 li input:checked~label {
    background-color: black;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */

footer {
    padding: 0.1em;
    font-family: Bellota Text;
    font-weight: 700;
    background-color: rgb(245, 198, 97);
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////// SHOP ////////////////////////////////////////////////////////////////////////////////////// */

.nome4 {
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1.5em;
}

.nome5 {
    padding-top: 2em;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0.75em;
}
.categorias-loja{
    background-color: rgb(231, 250, 254);
    font-family: Bellota Text;
    padding-top: 2em;
    padding-bottom: 2em;
    
}
.content-area{
    padding-left: 8em;
    padding-right: 8em;
}
.products.columns-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 68em;
}
.show-products{
    display: flex;
    flex-direction: column;
    
}
.nome-produto-shop {
    text-decoration: none;
    text-align: top;
    font-size: 0.6em;
    font-weight: 500;
    padding-bottom: 1.45em;
    margin-left: 10px;
}
.nome-prato-dia-shop {
    text-decoration: none;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    font-family: Bellota Text;
    color: #FAFAFA;
    font-size: 1.5em;
    width: 10em;
    margin-top: -108px;
    position: absolute;
    padding-top: 0.2em;
    padding-bottom: 0.6em;
}
.aumenta_space{
    padding-bottom: 2em;
}
li.type-product{
    transition: .2s;
}
li.type-product:hover{
    color: #FAFAFA;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
nav.woocommerce-pagination {
    text-align: center
}

nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px
}

nav.woocommerce-pagination ul li {
    border-right: 1px solid #d3ced2;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden
}

nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block;
    transition: .2s;
    color: rgb(122, 36, 125);
}

nav.woocommerce-pagination ul li a:focus,
nav.woocommerce-pagination ul li a:hover,
nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: #8a7e88
}
.borda-roxa{
    padding-left: 10px;
    padding-bottom: 5px;
    height: 100%;
    width: 99%;
    border: 2px solid rgb(122, 36, 125);
    
}
.filtros{
    padding-top: 2em;
    display:flex;
    justify-content: space-between;
}
.show-products>.woocommerce-result-count{
    display: none;
}
.orderby{
    width: 35em;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(122, 36, 125);
    outline: none;
}
#min_price{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(122, 36, 125);
    outline: none;
    margin-right: 0.5em;
}
#max_price{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(122, 36, 125);
    outline: none;
}
.filtro-preco{
    display: flex;
}
.price_slider_wrapper{
    display: flex;
    flex-direction: column;
}
.ordenacao{
    display: flex;
    flex-direction: column;
}
.titulo-filtro{
    padding-bottom: 1em;
}
.button-filtro{
    margin-top: 10px;
    color: #FAFAFA;
    background-color: rgb(122, 36, 125);
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* //////// User /////////////////////////////////////////////////////////////////////////// */

.menus-user{
    font-family: Bellota Text;
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 198, 97);
    padding-top: 1.5em;
    padding-bottom: 1.5em;   
}
.links-user{
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    transition: .2s;
}
.links-user:hover{
    color: #FAFAFA;
}

.produtos{
    padding-top: 1em;
    display: flex;
    padding-bottom: 3em;
}
.mostra-dados{
    flex-direction: column;
    padding-left: 4em;
    padding-top: 1em;
}
.product_title{
    font-family: Bellota Text;
    color: black;
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 0.5em;
}
.woocommerce-product-details__short-description{
    font-family: Bellota Text;
    color: black;
    font-weight: 400;
    font-size: 1.125em;
    width: 400px;
    padding-bottom: 1em;
}
.single_add_to_cart_button{
    font-family: Bellota Text;
    color: #FAFAFA;
    font-size: 1.5em;
    background-color: rgb(122, 36, 125);
    font-weight: 400;
    border: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    cursor: pointer;
    transition: .2s;
}
.single_add_to_cart_button:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: rgb(122, 36, 125);
    background-color: #FAFAFA;
    border: 1px solid rgb(122, 36, 125);
}
.cart{
    display: flex;
    flex-direction: column;
}
.produtos2{
    display: flex;
    padding-top: 1.5em;
    justify-content: space-between;
    align-items: center;
}
#preco-single{
    font-family: Bellota Text;
    color: black;
    font-weight: 400;
    font-size: 2em;
    border: 2px solid transparent;
}
.related products{
    font-family: Bellota Text;
    color: black;
    font-size:  1.5em;
}
.mais-comida{
    font-family: Bellota Text;
    color: black;
    font-size:  1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}